<div class="banner-image">
  <div class="container py-5">
    <div class="row py-5 align-items-center">
      <div class="col-lg-6">
        <h5 class="display-4 my-4 font-weight-bold text-white">Xiaomi Redmi 13 6GB/128GB｜8GB/128GB</h5>
        <div class="d-flex star-rating mb-5">
          <a href=""><i class="lni lni-star-filled"></i></a>
          <a href=""><i class="lni lni-star-filled"></i></a>
          <a href=""><i class="lni lni-star-filled"></i></a>
          <a href=""><i class="lni lni-star"></i></a>
          <a href=""><i class="lni lni-star"></i></a>
        </div>
        <p class="h5 aa mb-4 pb-3 text-white-50">
          Xiaomi Redmi 13 hứa hẹn sẽ là thiết bị smartphone giá rẻ gây bão tiếp theo của nhà Xiaomi với thiết kế mặt lưng kính cao cấp cùng bộ thông số ấn tượng như camera 108 MP, viên pin 5030 mAh, tần số quét 90 Hz, “chip rồng” mạnh mẽ,... mang đến khả năng sử dụng hiệu quả cho người dùng với mức giá hợp lý.
        </p>
        <h3 class="text-white mb-5">4.290.000₫-4.690.000₫</h3>
        <div class="d-flex">
          <a href="#" class="btn btn-lg red-btn"
          ><i class="lni lni-play-store me-2"></i> Xem thêm!</a
          >
        </div>
      </div>
      <div class="col-lg-6 text-lg-right text-center mt-5 mt-lg-0">
        <div class="banner-phone-image">
          <img src="https://cdn.tgdd.vn/2024/06/campaign/Slice-5-600x550-2.jpg" alt="phone-img"/>
        </div>
      </div>
    </div>
  </div>
</div>
