<span class="social-links">
  <a href="https://github.com/TanNhatCMS" target="_blank">
    <img src="/assets/image/icons/github.svg" alt="Github">
  </a>
</span>
<script src="/assets/js/bootstrap.bundle.js"></script>
