<main role="main" class="pb-5 mb-5">
  <div class="container">
    <div class="my-5">
      <div class="container">
        <select class="form-select w-25 mb-5" id="selectList" aria-label="Default select example">
          <option value="all">Tất cả các thương hiệu</option>
          <option value="Apple">Apple</option>
          <option value="Samsung">Samsung</option>
          <option value="Xiaomi">Xiaomi</option>
          <option value="Oppo">Oppo</option>
        </select>
      </div>
      <div class="row mx-0 gy-4" *ngFor="let item of productHome" id="phoneList">

        <div class="col-lg-3 col-md-6">
          <div class="card text-black h-100">
            <div class="content-overlay"></div>
            <img src="{{item.thumbnail}}" class="card-img" alt="{{item.name}}" />
            <div class="content-details fadeIn-top">
              <h3 class ='pb-5'>Thông số kỹ thuật</h3>
              <div class="d-flex justify-content-start py-1">
                <span class='text-light'><b>Màn hình: </b></span>
                <span class='text-light'> {{item.screen}}</span>
              </div>
              <div class="d-flex justify-content-start py-1">
                <span class='text-light'><b>Camera sau:</b> {{item.backCamera}}</span>
              </div>
              <div class="d-flex justify-content-start py-1">
                <span class='text-light'><b>Camera phía trước:</b> {{item.frontCamera}}</span>
              </div>
              <p class = 'pt-5'><u>Bấm vào đây để biết thêm chi tiết</u></p>
            </div>
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title pt-3">{{item.name}}</h5>
                <span class="text-muted mb-2">{{item.price}}₫</span>
                <span class="text-danger"><s>{{item.promotionalPrice}}₫</s></span>
              </div>
              <div class="mt-3 brand-box text-center">
                <span>{{item.brand}}</span>
              </div>
              <div class="d-flex justify-content-start pt-3">
                <span><b>Mô tả:</b> {{item.shortDescription}}</span>
              </div>
              <div class="d-flex justify-content-between pt-3">
                <div class="text-warning">
                <app-rating [rating]="item.ratings.averageRating"></app-rating>
                </div>
                <span class='text-success' *ngIf="item.stockQuantity"><b>Còn hàng</b></span>
                <span class='text-danger' *ngIf="!item.stockQuantity"><b>Hết hàng</b></span>
              </div>
              <button type="button" class="btn btn-block w-50">Thêm vào giỏ hàng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
